WebService/src/com/pubsale/webservice/PubSaleServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://example/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example/" schemaLocation="PubSaleServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="IsLoggedIn">
    <part name="parameters" element="tns:IsLoggedIn"/>
  </message>
  <message name="IsLoggedInResponse">
    <part name="parameters" element="tns:IsLoggedInResponse"/>
  </message>
  <message name="Login">
    <part name="parameters" element="tns:Login"/>
  </message>
  <message name="LoginResponse">
    <part name="parameters" element="tns:LoginResponse"/>
  </message>
  <message name="Register">
    <part name="parameters" element="tns:Register"/>
  </message>
  <message name="RegisterResponse">
    <part name="parameters" element="tns:RegisterResponse"/>
  </message>
  <message name="CreateAuction">
    <part name="parameters" element="tns:CreateAuction"/>
  </message>
  <message name="CreateAuctionResponse">
    <part name="parameters" element="tns:CreateAuctionResponse"/>
  </message>
  <message name="Close">
    <part name="parameters" element="tns:Close"/>
  </message>
  <message name="CloseResponse">
    <part name="parameters" element="tns:CloseResponse"/>
  </message>
  <portType name="PubSaleService">
    <operation name="IsLoggedIn">
      <input ns1:Action="http://example/PubSaleService/IsLoggedInRequest" message="tns:IsLoggedIn" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://example/PubSaleService/IsLoggedInResponse" message="tns:IsLoggedInResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="Login">
      <input ns3:Action="http://example/PubSaleService/LoginRequest" message="tns:Login" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://example/PubSaleService/LoginResponse" message="tns:LoginResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="Register">
      <input ns5:Action="http://example/PubSaleService/RegisterRequest" message="tns:Register" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://example/PubSaleService/RegisterResponse" message="tns:RegisterResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="CreateAuction">
      <input ns7:Action="http://example/PubSaleService/CreateAuctionRequest" message="tns:CreateAuction" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://example/PubSaleService/CreateAuctionResponse" message="tns:CreateAuctionResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="Close">
      <input ns9:Action="http://example/PubSaleService/CloseRequest" message="tns:Close" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://example/PubSaleService/CloseResponse" message="tns:CloseResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

